/* Couleur de fond du site */
body {
    background-color: #f5f5f5; /* Gris clair doux */
    font-family: Arial, sans-serif;
    color: #333; /* Texte gris foncé pour un bon contraste */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Style pour le titre principal */
h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    color: #4CAF50; /* Vert apaisant */
}

/* Ligne horizontale */
hr {
    border: none;
    height: 5px;
    background-color: #4CAF50; /* Vert correspondant au titre */
    margin: 20px auto;
    width: 50%;
}

/* Style des sections */
section {
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; /* Blanc pour un contraste avec le fond */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    width: 80%;
}

/* Titres des sections */
section h2 {
    color: #4CAF50;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Liens */
a {
    color: #1E88E5; /* Bleu doux */
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
}

a:hover {
    color: white;
    background-color: #1E88E5; /* Inversion des couleurs au survol */
    border-color: #1E88E5;
}

/* Espacement des liens */
.link-container h3 {
    margin: 15px 0;
}
