body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

h3 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #00aaff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    padding: 10px 20px;
    border: 2px solid #00aaff;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
    color: #000;
    background-color: #00aaff;
    text-shadow: 0 0 10px #ffaa00;
    border-color: #ffaa00;
}

.center {
    text-align: center;
}

.center h3 a {
    font-size: 20px;
    font-weight: normal;
    border-color: #ffaa00;
    color: #ffaa00;
}

.center h3 a:hover {
    background-color: #ffaa00;
    color: #000;
    text-shadow: 0 0 10px #ff4500;
}
